body 
{
  background:white;
}
.square, .canvas
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  padding:0;
  margin: 0;
}

.square{
  border: 1px solid white;
}

#selection:hover{
  outline: 6px solid yellow;
}


/*.canvas{

}*/